<!DOCTYPE HTML>
<html lang="en">

<head>
	<title>Newsbit</title>
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta charset="UTF-8">

	<!-- Font -->
	<link href="https://fonts.googleapis.com/css?family=Encode+Sans+Expanded:400,600,700" rel="stylesheet">

	<!-- Stylesheets -->
	<link href="css/bootstrap.css" rel="stylesheet">

	<link href="fonts/ionicons.css" rel="stylesheet">

	<link href="css/styles.css" rel="stylesheet">

	<link rel="icon" href="imgs/favicon.ico">

	<link rel="stylesheet" href="css/owl.carousel.min.css">

</head>

<body>
	<!-- Preloader -->
	<div class="preloader d-flex align-items-center justify-content-center">
		<div class="lds-ellipsis">
			<div></div>
			<div></div>
			<div></div>
			<div></div>
		</div>
	</div>
	<header>

		<!-- ##### Header Area Start ##### -->
		<header class="header-area">
			<!-- Top Header Area -->
			<div class="top-header-area">
				<div class="container">
					<div class="row align-items-center">
						<div class="col-12 col-md-6">
							<!-- Breaking News Widget -->
							<div class="breaking-news-area d-flex align-items-center">
								<div class="news-title">
									<p>Breaking News:</p>
								</div>
								<div id="breakingNewsTicker" class="ticker">
									<ul>
										<li><a href="/single-post">10:20PM - 10 Things Amazon Echo Can Do</a></li>
										<li><a href="/single-post">14:00PM - Welcome to Colorlib Family.</a></li>
										<li><a href="/single-post">7:00AM - Boys 'doing well' after Thai</a></li>
									</ul>
								</div>
							</div>
						</div>
						<div class="col-12 col-md-6">
							<div class="top-meta-data d-flex align-items-center justify-content-end">
								<!-- Top Social Info -->
								<div class="top-social-info">
									<a href="#"><i class="ion ion-social-facebook"></i></a>
									<a href="#"><i class="ion ion-social-instagram"></i></a>
									<a href="#"><i class="ion ion-social-twitter"></i></a>
									<a href="#"><i class="ion ion-social-google"></i></a>
									<a href="#"><i class="ion ion-social-bitcoin"></i></a>
								</div>
								<!-- Top Search Area -->
								<div class="top-search-area">
									<form action="/" method="post">
										<input type="search" name="top-search" id="topSearch" placeholder="Search...">
										<button type="submit" class="btn"><i class="fas fa-search"></i></button>
									</form>
								</div>
								<!-- Login -->
								<a href="login.html" class="login-btn"><i class="fa fa-user" aria-hidden="true"></i></a>
							</div>
						</div>
					</div>
				</div>
			</div>
		</header>

		<div class="header">
			<div class="container">
				<a class="logo" href="/"><img src="imgs/logo-black.png" alt="Logo"></a>
				<a class="menu-nav-icon" data-menu="#main-menu" href="#"><i class="ion-navicon"></i></a>

				<ul class="main-menu menu" id="main-menu">
					<!-- <li id="menu_world" class="drop-down"><a href="/single-post">Tất cả<i
								class="ion-arrow-down-b"></i></a>
						<ul class="drop-down-menu drop-down-inner">
							<li><a href="#">Điểm nóng</a></li>
							<li><a href="#">Quân sự</a></li>
							<li><a href="#">Vũ khí hạt nhân</a></li>
							<li><a href="#">Khoa học vũ trụ</a></li>
							<li><a href="#">Tin trong ngày</a></li>
					</li> -->
					<li id="menu_world" class="drop-down"><a href="/archieve-post">Thế giới<i
								class="ion-arrow-down-b"></i></a>
						<ul class="drop-down-menu drop-down-inner">
							<li><a href="/archieve-post">Điểm nóng</a></li>
							<li><a href="/archieve-post">Quân sự</a></li>
							<li><a href="/archieve-post">Vũ khí hạt nhân</a></li>
							<li><a href="/archieve-post">Khoa học vũ trụ</a></li>
							<li><a href="/archieve-post">Tin trong ngày</a></li>
						</ul>
					</li>
					<li id="menu_economic" class="drop-down"><a href="/archieve-post">Kinh tế vĩ mô<i
								class="ion-arrow-down-b"></i></a>
						<ul class="drop-down-menu drop-down-inner">
							<li><a href="/archieve-post">Tài chính</a></li>
							<li><a href="/archieve-post">Chính sách</a></li>
							<li><a href="/archieve-post">Hợp tác</a></li>
							<li><a href="/archieve-post">Dự án</a></li>
						</ul>
					</li>
					<li id="menu_football" class="drop-down">
						<a href="/archieve-post">Bóng đá<i class="ion-arrow-down-b"></i></a>
						<ul class="drop-down-menu drop-down-inner">
							<li><a href="/archieve-post">Lịch thi đấu</a></li>
							<li><a href="/archieve-post">Sự kiện - Bình luận</a></li>
							<li><a href="/archieve-post">Video</a></li>
							<li><a href="/archieve-post">Livescore</a></li>
							<li><a href="/archieve-post">Lịch thi đấu hôm nay</a></li>
							<li><a href="/archieve-post">Kết quả bóng đá</a></li>
							<li><a href="/archieve-post">Top ghi bàn</a></li>
							<li><a href="/archieve-post">Bảng xếp hạng</a></li>
							<li><a href="/archieve-post">Bóng đá trong nước</a></li>
						</ul>
					</li>
					<li id="menu_business" class="drop-down">
						<a href="/archieve-post">Kinh doanh<i class="ion-arrow-down-b"></i></a>
						<ul class="drop-down-menu drop-down-inner">
							<li><a href="/archieve-post">Doanh nhận</a></li>
							<li><a href="/archieve-post">Tài chính</a></li>
							<li><a href="/archieve-post">Bất động sản</a></li>
							<li><a href="/archieve-post">Khởi nghiệp</a></li>
							<li><a href="/archieve-post">Doanh nghiệp</a></li>
							<li><a href="/archieve-post">Ngân hàng</a></li>
							<li><a href="/archieve-post">Bitcoin</a></li>
							<li><a href="/archieve-post">Tỷ giá</a></li>
							<li><a href="/archieve-post">Chứng khoán</a></li>
						</ul>
					</li>
					<li id="menu_market" class="drop-down">
						<a href="/archieve-post">Thị trường<i class="ion-arrow-down-b"></i></a>
						<ul class="drop-down-menu drop-down-inner">
							<li><a href="/archieve-post">Sản xuất - tiêu dùng</a></li>
							<li><a href="/archieve-post">Thị trường hôm nay</a></li>
							<li><a href="/archieve-post">Xu hướng tiêu dùng</a></li>
							<li><a href="/archieve-post">Xuất nhập khẩu</a></li>
						</ul>
					</li>
					<li id="menu_health" class="drop-down">
						<a href="/archieve-post">Công nghệ<i class="ion-arrow-down-b"></i></a>
						<ul class="drop-down-menu drop-down-inner">
							<li><a href="/archieve-post">Sắp xuất hiện</a></li>
							<li><a href="/archieve-post">Tin tức công nghệ</a></li>
							<li><a href="/archieve-post">Laptop mới</a></li>
							<li><a href="/archieve-post">Điện thoại</a></li>
							<li><a href="/archieve-post">Máy ảnh và camera số</a></li>
							<li><a href="/archieve-post">Thế giới công nghệ</a></li>
							<li><a href="/archieve-post">Đánh giá sản phẩm</a></li>
							<li><a href="/archieve-post">Điện tử gia dụng</a></li>
						</ul>
					</li>
					<!-- menu more -->
				</ul>
			</div><!-- container -->
			<div class="clearfix"></div>
		</div>

	</header>


	<section>
		<div class="container">
			<div class="row">
				<div class="row col-12">
					<div class="hot-news col-12 col-md-7 col-lg-8">
						{{!-- BODY --}}
						{{{body}}}
					</div>
					<div class="vertical-host-news col-12 col-md-5 col-lg-4">
						<h4 class="p-title"><b>Tin trong ngày</b></h4>
						<div class="all-news-content">
							{{#each this.listNew}}
								<a class="oflow-hidden pos-relative dplay-block" href="/single-post">
									<div class="wh-100x abs-tlr"><img src="{{avatar}}" alt=""></div>
									<div class="ml-120 min-h-100x">
										<h5><b>{{title}}</b></h5>
										<h6 class="color-lite-black pt-10">by <span class="color-black"><b>Danile
													Palmer,</b></span> {{post_day}}</h6>
										{{!-- https://news.zing.vn/goi-y-lap-smarthome-gia-tam-10-trieu-o-viet-nam-post937347.html --}}
									</div>
								</a><!-- oflow-hidden -->
							{{/each}}
							

							<a class="oflow-hidden pos-relative mb-20 dplay-block" href="/single-post">
								<div class="wh-100x abs-tlr"><img src="https://firebasestorage.googleapis.com/v0/b/flashfood-ce894.appspot.com/o/news%2Fa6.jpg?alt=media&token=c26a5c0f-50a8-45e4-a144-4a57d074e0af" alt=""></div>
								<div class="ml-120 min-h-100x">
									<h5><b>Cách phụ nữ Nhật chọn máy giặt để tiết kiệm, phù hợp không gian sống</b></h5>
									<h6 class="color-lite-black pt-10">by <span class="color-black"><b>Danile
												Palmer,</b></span> Jan 25, 2018</h6>
									{{!-- https://news.zing.vn/cach-phu-nu-nhat-chon-may-giat-de-tiet-kiem-phu-hop-khong-gian-song-post925853.html --}}
								</div>
							</a><!-- oflow-hidden -->

							<a class="oflow-hidden pos-relative mb-20 dplay-block" href="/single-post">
								<div class="wh-100x abs-tlr"><img src="https://firebasestorage.googleapis.com/v0/b/flashfood-ce894.appspot.com/o/news%2Fa6.jpg?alt=media&token=c26a5c0f-50a8-45e4-a144-4a57d074e0af" alt=""></div>
								<div class="ml-120 min-h-100x">
									<h5><b>Nhiều mẫu TV cao cấp giảm giá chục triệu đồng</b></h5>
									<h6 class="color-lite-black pt-10">by <span class="color-black"><b>Danile
												Palmer,</b></span> Jan 25, 2018</h6>
									{{!-- https://news.zing.vn/nhieu-mau-tv-cao-cap-giam-gia-chuc-trieu-dong-post924476.html --}}
								</div>
							</a><!-- oflow-hidden -->

							<a class="oflow-hidden pos-relative mb-20 dplay-block" href="/single-post">
								<div class="wh-100x abs-tlr"><img src="https://firebasestorage.googleapis.com/v0/b/flashfood-ce894.appspot.com/o/news%2Fa16.jpeg?alt=media&token=f07d96a4-20b2-4fbc-9c70-f7f724201fad" alt=""></div>
								<div class="ml-120 min-h-100x">
									<h5><b>Chi tiết Galaxy Buds - nhỏ gọn, giá rẻ hơn AirPods</b></h5>
									<h6 class="color-lite-black pt-10">by <span class="color-black"><b>Danile
												Palmer,</b></span> Jan 25, 2018</h6>
									{{!-- https://news.zing.vn/chi-tiet-galaxy-buds-nho-gon-gia-re-hon-airpods-post921834.html --}}
								</div>
							</a><!-- oflow-hidden -->
							<a class="oflow-hidden pos-relative mb-20 dplay-block" href="/single-post">
								<div class="wh-100x abs-tlr"><img src="https://firebasestorage.googleapis.com/v0/b/flashfood-ce894.appspot.com/o/news%2Fa4.jpg?alt=media&token=14fde4da-695f-4126-9c2e-54beb417f9c3" alt=""></div>
								<div class="ml-120 min-h-100x">
									<h5><b>Mua Galaxy S10, bạn không thể thiếu 2 món phụ kiện này</b></h5>
									<h6 class="color-lite-black pt-10">by <span class="color-black"><b>Danile
												Palmer,</b></span> Jan 25, 2018</h6>
									{{!-- https://news.zing.vn/mua-galaxy-s10-ban-khong-the-thieu-2-mon-phu-kien-nay-post918526.html --}}
								</div>
							</a><!-- oflow-hidden -->

							<a class="oflow-hidden pos-relative mb-20 dplay-block" href="/single-post">
								<div class="wh-100x abs-tlr"><img src="https://firebasestorage.googleapis.com/v0/b/flashfood-ce894.appspot.com/o/news%2Fa4.jpg?alt=media&token=14fde4da-695f-4126-9c2e-54beb417f9c3" alt=""></div>
								<div class="ml-120 min-h-100x">
									<h5><b>Kho video 8K kỷ lục trong TV QLED 2019 - Samsung quyết ‘bỏ xa đối thủ’</b>
									</h5>
									<h6 class="color-lite-black pt-10">by <span class="color-black"><b>Danile
												Palmer,</b></span> Jan 25, 2018</h6>
									{{!-- https://news.zing.vn/kho-video-8k-ky-luc-trong-tv-qled-2019-samsung-quyet-bo-xa-doi-thu-post938836.html --}}
								</div>
							</a><!-- oflow-hidden -->

							<a class="oflow-hidden pos-relative mb-20 dplay-block" href="/single-post">
								<div class="wh-100x abs-tlr"><img src="https://firebasestorage.googleapis.com/v0/b/flashfood-ce894.appspot.com/o/news%2Fa16.jpeg?alt=media&token=f07d96a4-20b2-4fbc-9c70-f7f724201fad" alt=""></div>
								<div class="ml-120 min-h-100x">
									<h5><b>Chi tiết TV QLED 8K đầu tiên của Samsung ở Việt Nam</b></h5>
									<h6 class="color-lite-black pt-10">by <span class="color-black"><b>Danile
												Palmer,</b></span> Jan 25, 2018</h6>
									{{!-- https://news.zing.vn/chi-tiet-tv-qled-8k-dau-tien-cua-samsung-o-viet-nam-post937612.html --}}
								</div>
							</a><!-- oflow-hidden -->
							<a class="oflow-hidden pos-relative mb-20 dplay-block" href="/single-post">
								<div class="wh-100x abs-tlr"><img src="https://firebasestorage.googleapis.com/v0/b/flashfood-ce894.appspot.com/o/news%2Fa17.jpg?alt=media&token=05ab88de-f72a-4706-bd9c-f6dafa19d70e" alt=""></div>
								<div class="ml-120 min-h-100x">
									<h5><b>TV QLED 8K và chiến lược nâng tầm trải nghiệm người xem của Samsung</b></h5>
									<h6 class="color-lite-black pt-10">by <span class="color-black"><b>Danile
												Palmer,</b></span> Jan 25, 2018</h6>
									{{!-- https://news.zing.vn/tv-qled-8k-va-chien-luoc-nang-tam-trai-nghiem-nguoi-xem-cua-samsung-post934037.html --}}
								</div>
							</a><!-- oflow-hidden -->

							<a class="oflow-hidden pos-relative mb-20 dplay-block" href="/single-post">
								<div class="wh-100x abs-tlr"><img src="https://firebasestorage.googleapis.com/v0/b/flashfood-ce894.appspot.com/o/news%2Fa17.jpg?alt=media&token=05ab88de-f72a-4706-bd9c-f6dafa19d70e" alt=""></div>
								<div class="ml-120 min-h-100x">
									<h5><b>Viettel IDC hợp tác với Akamai cung cấp dịch vụ số</b></h5>
									<h6 class="color-lite-black pt-10">by <span class="color-black"><b>Danile
												Palmer,</b></span> Jan 25, 2018</h6>
									{{!-- https://news.zing.vn/viettel-idc-hop-tac-voi-akamai-cung-cap-dich-vu-so-post937198.html --}}
								</div>
							</a><!-- oflow-hidden -->

							<a class="oflow-hidden pos-relative mb-20 dplay-block" href="/single-post">
								<div class="wh-100x abs-tlr"><img src="https://firebasestorage.googleapis.com/v0/b/flashfood-ce894.appspot.com/o/news%2Fa17.jpg?alt=media&token=05ab88de-f72a-4706-bd9c-f6dafa19d70e" alt=""></div>
								<div class="ml-120 min-h-100x">
									<h5><b>3 dòng máy trạm đáng sở hữu từ Dell</b></h5>
									<h6 class="color-lite-black pt-10">by <span class="color-black"><b>Danile
												Palmer,</b></span> Jan 25, 2018</h6>
									{{!-- https://news.zing.vn/3-dong-may-tram-dang-so-huu-tu-dell-post936740.html --}}
								</div>
							</a><!-- oflow-hidden -->
							<a class="oflow-hidden pos-relative mb-20 dplay-block" href="/single-post">
								<div class="wh-100x abs-tlr"><img src="https://firebasestorage.googleapis.com/v0/b/flashfood-ce894.appspot.com/o/news%2Fa14.jpeg?alt=media&token=f50dff48-bef8-4634-a464-82cb5bd9f7fa" alt=""></div>
								<div class="ml-120 min-h-100x">
									<h5><b>Hành trình tái định nghĩa TV của 'gã khổng lồ' Hàn Quốc</b></h5>
									<h6 class="color-lite-black pt-10">by <span class="color-black"><b>Danile
												Palmer,</b></span> Jan 25, 2018</h6>
									{{!-- https://news.zing.vn/hanh-trinh-tai-dinh-nghia-tv-cua-ga-khong-lo-han-quoc-post933807.html --}}
								</div>
							</a><!-- oflow-hidden -->

							<a class="oflow-hidden pos-relative mb-20 dplay-block" href="/single-post">
								<div class="wh-100x abs-tlr"><img src="https://firebasestorage.googleapis.com/v0/b/flashfood-ce894.appspot.com/o/news%2Fa14.jpeg?alt=media&token=f50dff48-bef8-4634-a464-82cb5bd9f7fa" alt=""></div>
								<div class="ml-120 min-h-100x">
									<h5><b>Máy giặt Samsung hơn 20 năm vẫn chạy tốt vì những điều này</b></h5>
									<h6 class="color-lite-black pt-10">by <span class="color-black"><b>Danile
												Palmer,</b></span> Jan 25, 2018</h6>
									{{!-- https://news.zing.vn/may-giat-samsung-hon-20-nam-van-chay-tot-vi-nhung-dieu-nay-post933003.html --}}
								</div>
							</a><!-- oflow-hidden -->

							<a class="oflow-hidden pos-relative mb-20 dplay-block" href="/single-post">
								<div class="wh-100x abs-tlr"><img src="https://firebasestorage.googleapis.com/v0/b/flashfood-ce894.appspot.com/o/news%2Fa14.jpeg?alt=media&token=f50dff48-bef8-4634-a464-82cb5bd9f7fa" alt=""></div>
								<div class="ml-120 min-h-100x">
									<h5><b>Tuyển LMHT Trung Quốc mời thầy phong thủy vì quá xui xẻo</b></h5>
									<h6 class="color-lite-black pt-10">by <span class="color-black"><b>Danile
												Palmer,</b></span> Jan 25, 2018</h6>
									{{!-- https://news.zing.vn/tuyen-lmht-trung-quoc-moi-thay-phong-thuy-vi-qua-xui-xeo-post937957.html --}}
								</div>
							</a><!-- oflow-hidden -->
							<a class="oflow-hidden pos-relative mb-20 dplay-block" href="/single-post">
								<div class="wh-100x abs-tlr"><img src="https://firebasestorage.googleapis.com/v0/b/flashfood-ce894.appspot.com/o/news%2Fa10.jpg?alt=media&token=cfce1fe5-8c81-4c6d-aad2-2e23473a28de" alt=""></div>
								<div class="ml-120 min-h-100x">
									<h5><b>Honor 20 Lite ra mắt tại VN - camera selfie 32 MP, giá 6 triệu đồng</b></h5>
									<h6 class="color-lite-black pt-10">by <span class="color-black"><b>Danile
												Palmer,</b></span> Jan 25, 2018</h6>
									{{!-- https://news.zing.vn/honor-20-lite-ra-mat-tai-vn-camera-selfie-32-mp-gia-6-trieu-dong-post938786.html --}}
								</div>
							</a><!-- oflow-hidden -->

							<a class="oflow-hidden pos-relative mb-20 dplay-block" href="/single-post">
								<div class="wh-100x abs-tlr"><img src="https://firebasestorage.googleapis.com/v0/b/flashfood-ce894.appspot.com/o/news%2Fa10.jpg?alt=media&token=cfce1fe5-8c81-4c6d-aad2-2e23473a28de" alt=""></div>
								<div class="ml-120 min-h-100x">
									<h5><b>Dũng cảm lên, Samsung sắp tung smartphone gập 13 inch</b></h5>
									<h6 class="color-lite-black pt-10">by <span class="color-black"><b>Danile
												Palmer,</b></span> Jan 25, 2018</h6>
									{{!-- https://news.zing.vn/dung-cam-len-samsung-sap-tung-smartphone-gap-13-inch-post938736.html --}}
								</div>
							</a><!-- oflow-hidden -->

							<a class="oflow-hidden pos-relative mb-20 dplay-block" href="/single-post">
								<div class="wh-100x abs-tlr"><img src="https://firebasestorage.googleapis.com/v0/b/flashfood-ce894.appspot.com/o/news%2Fa10.jpg?alt=media&token=cfce1fe5-8c81-4c6d-aad2-2e23473a28de" alt=""></div>
								<div class="ml-120 min-h-100x">
									<h5><b>Siêu anh hùng Marvel không viễn tưởng, họ chỉ đưa khoa học tiến xa hơn</b>
									</h5>
									<h6 class="color-lite-black pt-10">by <span class="color-black"><b>Danile
												Palmer,</b></span> Jan 25, 2018</h6>
									{{!-- https://news.zing.vn/sieu-anh-hung-marvel-khong-vien-tuong-ho-chi-dua-khoa-hoc-tien-xa-hon-post938506.html --}}
								</div>
							</a><!-- oflow-hidden -->
							<a class="oflow-hidden pos-relative mb-20 dplay-block" href="/single-post">
								<div class="wh-100x abs-tlr"><img src="https://firebasestorage.googleapis.com/v0/b/flashfood-ce894.appspot.com/o/news%2Fa10.jpg?alt=media&token=d0189d70-fec0-42f1-af42-aa666d87efb8" alt=""></div>
								<div class="ml-120 min-h-100x">
									<h5><b>Galaxy A80 và ‘vũ khí’ bí mật chinh phục thế hệ trẻ của Samsung</b></h5>
									<h6 class="color-lite-black pt-10">by <span class="color-black"><b>Danile
												Palmer,</b></span> Jan 25, 2018</h6>
									{{!-- https://news.zing.vn/galaxy-a80-va-vu-khi-bi-mat-chinh-phuc-the-he-tre-cua-samsung-post938577.html --}}
								</div>
							</a><!-- oflow-hidden -->

							<a class="oflow-hidden pos-relative mb-20 dplay-block" href="/single-post">
								<div class="wh-100x abs-tlr"><img src="https://firebasestorage.googleapis.com/v0/b/flashfood-ce894.appspot.com/o/news%2Fa12.jpg?alt=media&token=242d6eb7-691d-45a7-a697-6fd83ff00dcd" alt=""></div>
								<div class="ml-120 min-h-100x">
									<h5><b>Samsung hoãn ra mắt Galaxy Fold tại nhiều nơi</b></h5>
									<h6 class="color-lite-black pt-10">by <span class="color-black"><b>Danile
												Palmer,</b></span> Jan 25, 2018</h6>
									{{!-- https://news.zing.vn/samsung-hoan-ra-mat-galaxy-fold-tai-nhieu-noi-post938515.html --}}
								</div>
							</a><!-- oflow-hidden -->

							<a class="oflow-hidden pos-relative mb-20 dplay-block" href="/single-post">
								<div class="wh-100x abs-tlr"><img src="https://firebasestorage.googleapis.com/v0/b/flashfood-ce894.appspot.com/o/news%2Fa12.jpg?alt=media&token=242d6eb7-691d-45a7-a697-6fd83ff00dcd" alt=""></div>
								<div class="ml-120 min-h-100x">
									<h5><b>Galaxy A70 màn hình 6,7 inch, 3 camera, giá 9,3 triệu ở Việt Nam</b></h5>
									<h6 class="color-lite-black pt-10">by <span class="color-black"><b>Danile
												Palmer,</b></span> Jan 25, 2018</h6>
									{{!-- https://news.zing.vn/galaxy-a70-man-hinh-6-7-inch-3-camera-gia-9-3-trieu-o-viet-nam-post938472.html --}}
								</div>
							</a><!-- oflow-hidden -->
						</div>

						<div class="mt-40">
							<div>
								<h4 class="p-title"><b>Tin có nhiều lượt xem nhất</b></h4>
								{{#each this.listNew}} 
									<a class="oflow-hidden pos-relative mb-20 dplay-block" href="/single-post">
										<div class="wh-100x abs-tlr"><img src="{{avatar}}" alt=""></div>
										<div class="ml-120 min-h-100x">
											<h5><b>{{title}}</b></h5>
											{{!-- https://news.zing.vn/sri-lanka-noi-danh-bom-la-tra-thu-cho-vu-xa-sung-new-zealand-post938940.html --}}
											<h6 class="color-lite-black pt-10">by <span class="color-black"><b>Danile
														Palmer,</b></span> {{post_day}}</h6>
										</div>
									</a><!-- oflow-hidden -->
								{{/each}}
								

								<a class="oflow-hidden pos-relative mb-20 dplay-block" href="/single-post">
									<div class="wh-100x abs-tlr"><img src="https://firebasestorage.googleapis.com/v0/b/flashfood-ce894.appspot.com/o/news%2Fb15.jpg?alt=media&token=21fcd815-0c12-488c-ba7b-580f0b205110" alt=""></div>
									<div class="ml-120 min-h-100x">
										<h5><b>Ảnh hiếm về Hoàng tử bé Louis tròn 1 tuổi do Công nương Kate công bố</b>
										</h5>
										{{!-- https://news.zing.vn/anh-hiem-ve-hoang-tu-be-louis-tron-1-tuoi-do-cong-nuong-kate-cong-bo-post938902.html --}}
										<h6 class="color-lite-black pt-10">by <span class="color-black"><b>Danile
													Palmer,</b></span> Jan 25, 2018</h6>
									</div>
								</a><!-- oflow-hidden -->

								<a class="oflow-hidden pos-relative mb-20 dplay-block" href="/single-post">
									<div class="wh-100x abs-tlr"><img src="https://firebasestorage.googleapis.com/v0/b/flashfood-ce894.appspot.com/o/news%2Fb15.jpg?alt=media&token=21fcd815-0c12-488c-ba7b-580f0b205110" alt=""></div>
									<div class="ml-120 min-h-100x">
										<h5><b>Chàng trai mất tích ở sông, cá sấu ngoi lên cùng chiếc chân nạn nhân</b>
										</h5>
										{{!-- https://news.zing.vn/chang-trai-mat-tich-o-song-ca-sau-ngoi-len-cung-chiec-chan-nan-nhan-post938770.html --}}
										<h6 class="color-lite-black pt-10">by <span class="color-black"><b>Danile
													Palmer,</b></span> Jan 25, 2018</h6>
									</div>
								</a><!-- oflow-hidden -->

								<a class="oflow-hidden pos-relative mb-20 dplay-block" href="/single-post">
									<div class="wh-100x abs-tlr"><img src="https://firebasestorage.googleapis.com/v0/b/flashfood-ce894.appspot.com/o/news%2Fb15.jpg?alt=media&token=21fcd815-0c12-488c-ba7b-580f0b205110" alt=""></div>
									<div class="ml-120 min-h-100x">
										<h5><b>Đại sứ Mỹ chia buồn cựu Chủ tịch nước Lê Đức Anh từ trần</b></h5>
										{{!-- https://news.zing.vn/dai-su-my-chia-buon-cuu-chu-tich-nuoc-le-duc-anh-tu-tran-post938856.html --}}
										<h6 class="color-lite-black pt-10">by <span class="color-black"><b>Danile
													Palmer,</b></span> Jan 25, 2018</h6>
									</div>
								</a><!-- oflow-hidden -->

							</div><!-- mtb-50 -->
						</div>
						<div class="mtb-50">
							<h4 class="p-title"><b>Tin hot nhất</b></h4>

							{{#each this.listNew}}
								<a class="oflow-hidden pos-relative mb-20 dplay-block" href="/single-post">
								<div class="wh-100x abs-tlr"><img src="{{avatar}}" alt=""></div>
								<div class="ml-120 min-h-100x">
									<h5><b>{{title}}</b>
									</h5>
									{{!-- https://news.zing.vn/nu-dien-vien-bi-liet-nua-nguoi-ke-sinh-7-thang-moi-duoc-gap-con-2-lan-post938868.html --}}
									<h6 class="color-lite-black pt-10">by <span class="color-black"><b>Danile
												Palmer,</b></span> {{post_day}}</h6>
								</div>
								</a><!-- oflow-hidden -->
							{{/each}}
						

							<a class="oflow-hidden pos-relative mb-20 dplay-block" href="/single-post">
								<div class="wh-100x abs-tlr"><img src="https://firebasestorage.googleapis.com/v0/b/flashfood-ce894.appspot.com/o/news%2Fb16.jpg?alt=media&token=83fb7f24-5ddc-46f1-911c-834c6f97564d" alt=""></div>
								<div class="ml-120 min-h-100x">
									<h5><b>Miley Cyrus diện sexy, cùng chồng xem 'Avengers: Endgame' của anh trai</b>
									</h5>
									{{!-- https://news.zing.vn/miley-cyrus-dien-sexy-cung-chong-xem-avengers-endgame-cua-anh-trai-post938767.html --}}
									<h6 class="color-lite-black pt-10">by <span class="color-black"><b>Danile
												Palmer,</b></span> Jan 25, 2018</h6>
								</div>
							</a><!-- oflow-hidden -->

							<a class="oflow-hidden pos-relative mb-20 dplay-block" href="/single-post">
								<div class="wh-100x abs-tlr"><img src="ihttps://firebasestorage.googleapis.com/v0/b/flashfood-ce894.appspot.com/o/news%2Fb16.jpg?alt=media&token=83fb7f24-5ddc-46f1-911c-834c6f97564d" alt=""></div>
								<div class="ml-120 min-h-100x">
									<h5><b>Á hậu Hong Kong thích đàn ông có vợ, 5 năm quen 10 người để tiến thân</b>
									</h5>
									{{!-- https://news.zing.vn/a-hau-hong-kong-thich-dan-ong-co-vo-5-nam-quen-10-nguoi-de-tien-than-post938760.html --}}
									<h6 class="color-lite-black pt-10">by <span class="color-black"><b>Danile
												Palmer,</b></span> Jan 25, 2018</h6>
								</div>
							</a><!-- oflow-hidden -->

							<a class="oflow-hidden pos-relative mb-20 dplay-block" href="/single-post">
								<div class="wh-100x abs-tlr"><img src="https://firebasestorage.googleapis.com/v0/b/flashfood-ce894.appspot.com/o/news%2Fb16.jpg?alt=media&token=83fb7f24-5ddc-46f1-911c-834c6f97564d" alt=""></div>
								<div class="ml-120 min-h-100x">
									<h5><b>Hoa hậu Tiểu Vy, Đỗ Mỹ Linh đẹp rạng ngời với đầm xẻ cao</b></h5>
									<h6 class="color-lite-black pt-10">by <span class="color-black"><b>Danile
												Palmer,</b></span> Jan 25, 2018</h6>
								</div>
							</a><!-- oflow-hidden -->

						</div><!-- mtb-50 -->
					<div class="aside-widget">
							<div class="section-title">
								<h2>Chuyên mục</h2>
							</div>
							<div class="category-widget">
								<ul>
									<li><a href="/archieve-post" class="cat-1">Thế giới<span>3405</span></a></li>
									<li><a href="/archieve-post" class="cat-2">Kinh tế vĩ mô<span>3206</span></a></li>
									<li><a href="/archieve-post" class="cat-3">Công nghệ<span>3007</span></a></li>
									<li><a href="/archieve-post" class="cat-4">Bóng đá<span>2090</span></a></li>
									<li><a href="/archieve-post" class="cat-5">Khởi ngiệp<span>2789</span></a></li>
									<li><a href="/archieve-post" class="cat-6">Chứng khoán<span>2232</span></a></li>
									<li><a href="/archieve-post" class="cat-7">Sức khỏe<span>1223</span></a></li>
									<li><a href="/archieve-post" class="cat-8">Thời trang<span>890</span></a></li>
									<li><a href="/archieve-post" class="cat-9">Xu hướng<span>808</span></a></li>
									<li><a href="/archieve-post" class="cat-10">Bất động sản<span>766</span></a></li>
								</ul>
							</div>
						</div>

						<div class="aside-widget">
							<div class="tags-widget">
								<ul>
									<li><a href="/archieve-post">Hồ sơ</a></li>
									<li><a href="/archieve-post">Điểm nóng</a></li>
									<li><a href="/archieve-post">Đầu tư</a></li>
									<li><a href="/archieve-post">Chứng khoán</a></li>
									<li><a href="/archieve-post">Sức khỏe</a></li>
									<li><a href="/archieve-post">Xu hướng</a></li>
									<li><a href="/archieve-post">Nhà đất</a></li>
									<li><a href="/archieve-post">Vợ chồng</a></li>
									<li><a href="/archieve-post">Tình yêu</a></li>
								</ul>
							</div>
						</div>

						<div class="mtb-50 mb-md-0">
							<h4 class="p-title"><b>Đăng ký theo dõi</b></h4>
							<p class="mb-20">Subscribe to our newsletter to get notification about new updates,
								information, discount, etc..</p>
							<form class="nwsltr-primary-1">
								<input type="text" placeholder="Your email" />
								<button type="submit"><i class="ion-ios-paperplane"></i></button>
							</form>
						</div><!-- mtb-50 -->

					</div><!-- mtb-50 -->
				</div>

			</div><!-- row -->
		</div><!-- container -->
	</section>

	<footer class="bg-191 color-ccc">

		<div class="container">
			<div class="pt-50 pb-20 pos-relative">
				<div class="abs-tblr pt-50 z--1 text-center">
					<div class="h-80 pos-relative"><img class="opacty-1 h-100 w-auto" src="imgs/map.png" alt=""></div>
				</div>
				<div class="row">

					<div class="col-sm-8">
						<div class="mb-30">
							<a href="/"><img src="imgs/logo-white.png"></a>
							<p class="mtb-20 color-ccc">Trang thông tin tin tức trong nước và ngoài nước, phục vụ nhu cầu cập nhật cho người đọc.</p>
							<p class="color-ash">
								<!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
								Copyright &copy;
								<script>document.write(new Date().getFullYear());</script> Cơ quan chủ quản: Công ty Cổ phần Quảng cáo Trực tuyến 24H Trụ sở: Tầng 12, Tòa nhà Geleximco, 36 Hoàng Cầu, Phường Ô Chợ Dừa, Quận Đống Đa, TP Hà Nội. Tel: (84-24) 73 00 24 24 hoặc (84-24) 3512 1806 - Fax: (84-24) 3512 1804. Chi nhánh: Tầng 7, Tòa nhà Việt Úc, 402 Nguyễn Thị Minh Khai, Phường 5, Quận 3, TP. Hồ Chí Minh. Tel: (84-28) 7300 2424 / Giấy phép số 332/GP – TT ĐT ngày cấp 22/01/2018 SỞ THÔNG TIN VÀ TRUYỀN THÔNG HÀ NỘI. Chịu trách nhiệm xuất bản: Phan Minh Tâm. HOTLINE: 0965 08 24 24<i class="ion-heart" aria-hidden="true"></i> by <a
									href="https://colorlib.com" target="_blank">Colorlib</a>
								<!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
							</p>
						</div><!-- mb-30 -->
					</div><!-- col-md-4 -->

					<div class="col-sm-4">
						<div class="mb-30">
							<h5 class="color-primary mb-20"><b>Tin phổ biến</b></h5>
							{{#each this.listNew}}
								<div class="mb-20">
								<a class="color-white" href="/single-post"><b>{{title}}</b></a>
								<h6 class="mt-10">Jan 25, 2018</h6>
								</div>
							{{/each}}
						

							<div class="brdr-ash-1 opacty-2 mr-30"></div>
							<div class="mt-20">
								<a class="color-white" href="/single-post"><b>Tổng hợp các vụ mua bán ma túy lớn trong năm 2019</b></a>
								<h6 class="mt-10">Jan 25, 2018</h6>
							</div>

						</div><!-- mb-30 -->
					</div><!-- col-md-4 -->

				</div><!-- row -->
			</div><!-- ptb-50 -->

			<div class="brdr-ash-1 opacty-2"></div>

			<div class="oflow-hidden color-ash font-9 text-sm-center ptb-sm-5">

				<ul class="float-left float-sm-none list-a-plr-10 list-a-plr-sm-5 list-a-ptb-15 list-a-ptb-sm-10">
					<li><a class="pl-0 pl-sm-10" href="/single-post">Terms & Conditions</a></li>
					<li><a href="/single-post">Privacy policy</a></li>
					<li><a href="/single-post">Jobs advertising</a></li>
					<li><a href="/single-post">Contact us</a></li>
				</ul>
				<ul class="float-right float-sm-none list-a-plr-10 list-a-plr-sm-5 list-a-ptb-15 list-a-ptb-sm-5">
					<li><a class="pl-0 pl-sm-10" href="#"><i class="ion-social-facebook"></i></a></li>
					<li><a href="#"><i class="ion-social-twitter"></i></a></li>
					<li><a href="#"><i class="ion-social-google"></i></a></li>
					<li><a href="#"><i class="ion-social-instagram"></i></a></li>
					<li><a href="#"><i class="ion-social-bitcoin"></i></a></li>
				</ul>

			</div><!-- oflow-hidden -->
		</div><!-- container -->
	</footer>

	<!-- SCIPTS -->

	<script src="js/jquery-3.4.0.min.js"></script>

	<script src="js/tether.min.js"></script>

	<script src="js/bootstrap.js"></script>

	<script src="js/jquery.sticky.js"></script>

	<script src="js/plugins.js"></script>

	<script src="js/scripts.js"></script>
</body>

</html>